MongoDb version of the environment variables.
NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://localhost:27017/myapp
JWT_SECRET=VerySecretKey1234567890abcdef
FRONTEND_URL=http://localhost:5173

PostgreSQL version of the environment variables.
DB_NAME=your-db-name
DB_USER=postgres
DB_PASSWORD=your-pass
DB_HOST=localhost
DB_PORT=port